export SPOTIFY_APP_ID='161e838beb7d40ce9b92337880a45884'
export SPOTIFY_APP_SECRET='8add6d7a6b91425385b9f69963d0fb35'
export SPOTIFY_USERNAME='contact+beatsbot@rorystok.es'
export SPOTIFY_PASSWORD='chalstdow'
export EXTERNAL_URL='https://beatsbot.one'
export SPOTIFY_USER_ID='p4gr2dsrve9n7jgdcgtdd46bl'
export SPOTIFY_TOP_PLAYLIST_ID='77Lw1Hs3w4CE0xTiEl6z2Q'
export DISCORD_SECRET='MjY2NDI1ODg2OTI2OTYyNjg5.C1s_tw.zH44RWZPvkpaejcqdfPC8rZodvo'
export BEATS_POINTS_LOCATION='/home/rory/Dropbox/beatsbot-one/data/beatspoints'
export MOPIDY_WS_URL='ws://localhost:6680/mopidy/ws/'
export AUDIO_DEVICE='auto_null.monitor'