[Unit]
Description=The One and only

[Service]
User=rory
EnvironmentFile=/home/rory/Dropbox/beatsbot-one/bot/env.sh
ExecStart=/home/rory/Dropbox/beatsbot-one/bot/run-local.sh